<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->

<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading" id="patientsInRooms">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div id="patients-with-rooms-live" class="huge"></div>
                        <div>hospitals</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
